body{
    font-family: Arial, Helvetica, sans-serif;
}

.item{
    background: lightblue;
    padding: 10px;
    border: 1px solid black;
}

.container{
    height: 100vh;
   display: grid;
   grid-template-columns: repeat(3, 200px);
   grid-template-rows: repeat(4, 100px);
   grid-gap: 5px;
   /* Con las siguientes reglas, podemos alinear el contenido de una celda */
   justify-content: center; /* Organiza el contenido de manera horizontal */
   align-content: center; /* Organiza el contenido de manera vertical */
}