body{
    font-family: Arial, Helvetica, sans-serif;
}

.item{
    background: lightblue;
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;
}

.container{
    height: 100vh;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(4, 1fr);
   grid-gap: 10px;
}

.item:nth-of-type(1){
    background-color: blue;
    /* En las siguientes 2 reglas, iremos definiendo la linea inicio y linea fin que ocupara un elemento especifico */
    grid-column-start: 1;
    grid-column-end: 3;
}

.item:nth-of-type(8){
    background-color: red;
    grid-column: 2 / 4;
}

.item:nth-of-type(7){
    background-color: pink;
    grid-column: 1 / span 2;
}
.item:nth-of-type(9){
    background-color: gray;
    grid-column: 1 / -1;
}