body{
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.main_container{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 70px 1fr 320px;
    grid-template-areas: "badge title form"
                         ". description form"
                            ". countdown form";
}

.main{
    background-color: #23475B;
    color: white;
    padding: 32px 15px;
    display: grid;
    grid-template-columns: minmax(auto, 1024px);
    justify-content: center;
}

.badge{
    grid-area: badge;
}

.badge img{
    max-width: 70px;
}

.title{
    font-size: 36px;
    font-weight: normal;
    margin: 0;
    display: flex;
    align-items: center;
    grid-area: title;
}

.description{
    grid-area: description;
}

.form{
    text-align: center;
    background-color: rgba(255, 255, 255, .9);
    padding: 1.5em;
    border-radius: 10px;
    grid-area: form;
}

.form input{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #DBDBE2;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.form p{
    font-size: 20px;
    color: #3a3b3f;
    margin-bottom: 1em;
}

.form button{
    background-color: #98ca3F;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    border-bottom: 5px solid #6D932B;
    display: inline-block;
    font-size: 16px;
}

.countdown{
    grid-area: countdown;
}

.countdown p{
    font-size: 20px;
    text-align: center;
    font-weight: 300;
}

.countdown span{
    font-size: 33px;
}

.countdown span:after{
    content: ":";
    display: inline-block;
    margin: 0 5px;
}

.countdown span:last-child:after{
    display: none;
}

p{
    margin: 0;
}

@media screen and (max-width:768px){
    .main_container{
        grid-template-columns: 70px 1fr;
        grid-template-areas: "badge title"
                             "description description"
                             "form form"
                             "countdown countdown";
    }
} 